body {
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background-color: #f6f6f6;
  color: #b00000;
  width: 100%;
  
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.header,
.footer {
  width: 100%;
  padding: 20px;
  background-color: #535353;
  border: 1px solid #9b9b9b;
  border-radius: 8px;
  box-sizing: border-box;
}

.header {
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
  margin-top: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

.section {
  margin: 20px 0;
  padding: 20px;
  background-color: #3f3f3f;
  border: 1px solid #000000;

}

.project {
  margin-top: 20px;


}
.photo{
  border: 2px solid;
  width: 250;
  height: 250px;
  margin-left: 10px;
  align-self: center;
}

.profile{
  border-radius: 100%;
  border: solid 1px;
  width: 200px;
  height: 280px;
  margin-top: 20px;
  margin-left: 20px;
  display: inline-block;
}
.about{
  display: inline-block;
}
